extends layout 
block content 
  section.container.row
    h1= title
    a.home-link(href='/home/category/create') Add Category
    
    ul.category-list 
      each category in category_list
        li.category
          a.style-link(href=category.url) #{category.name}
      else 
        li There are no categories.