extends layout

block content
  main 
    h1= title

    if error
      p Error getting dynamic content.
    else
      p The Gameventory has the following records:
      ul
        li #[strong Items:] !{data.item_count}
        li #[strong Categories:] !{data.category_count}
        
