extends layout

block content
  main 
    h1= title

    if error
      p Error getting dynamic content.
    else
      p The Gameventory has the following records:
      ul
        li #[strong Items:] !{data.item_count}
        li #[strong Categories:] !{data.category_count}
      div.home-links
        a.home-link(href='/home/category/create') New Category
        a.home-link(href='/home/item/create') New Item
        
