extends layout 
block content 
  h1 #{title}: #{item.title}

  p Do you really want to delete this Item?

  form(method='POST' action='')
    div.form-group 
      input#itemid.form-control(type='hidden', name='itemid', required='true', value=item._id)
    button.btn-submit(type='submit') Delete 
