extends layout 
block content
  div(style='margin-left:20px;margin-top:20px;margin-right:20px')
    h1= title

    ul 
      each item in item_list
        li
          a(href=item.url) #{item.title}
          |  [#{item.category.name}]
      else 
        li There are no items.