doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div.container.flex-row
        img.logo(src='/images/gg-logo.svg', alt='logo')
        button.nav-toggle(aria-label="open navigation")
          span.hamburger
        nav 
          ul.nav__links 
            each val in [{tag: 'Home', address:''}, {tag: 'Items', address: 'items'}, {tag: 'Categories', address:'categories'}, {tag:'About', address:'about'}]
              li.nav__link
                a(href='/home/' + val.address) #{val.tag}
           
    block content 
    footer 
      p &copy; bananabread08 2022
    script(type='text/javascript', src='/javascripts/nav.js')
