doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img.logo(src='/images/logo.svg', alt='logo')
      nav 
        ul.nav__links 
          each val in [{tag: 'Home', address:'home'}, {tag: 'Items', address: '/items'}, {tag: 'Categories', address:'/categories'}, {tag:'About', address:'/about'}]
            li.nav__link
              a(href=val.address) #{val.tag}
              
    block content
