*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: black;
}

.logo {
  cursor: pointer;
  color: mediumslateblue;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 0 10px;
}

.nav__link a {
  transition: all 0.3s ease 0s;
  color: #fff;
}

.nav__link a:hover {
  color: #0088a9;
}

main {
  display: grid;
  place-items: center;
}

.home-link {
  text-decoration: none;
  color: white;
  background-color: black;
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.home-link:hover {
  filter: brightness(0.7);
}

.btn-submit {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: #0088a9;
  color: white;
  cursor: pointer;
}

.btn-submit:hover {
  filter: brightness(0.7);
}
