*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #2d383a;
}

body {
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.logo {
  cursor: pointer;
  height: 3rem;
  width: auto;
}

.date_diff {
  color: #189ad3;
}

header {
  padding: 20px 10%;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 2;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: gray;
  transition: opacity 250ms ease;

  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 10px;
}

/* make whole container clickable */
.nav__link a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 0.5em;
  margin: -0.5em;
}

.nav__link {
  background-color: #fff;
  width: 70%;
  border-radius: 0.5rem;
}

.nav__link > a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__links > *:hover {
  filter: brightness(0.8);
}

.recents {
  text-align: center;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  nav {
    visibility: visible;
    height: auto;
    margin-top: 0;

    position: relative;
    width: 70%;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links {
    flex-direction: row;
  }

  .recents__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .recents__container > * {
    flex-basis: 40%;
  }
}

/* .nav__links {
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 0 10px;
}

.nav__link a {
  transition: all 0.3s ease 0s;
  color: #fff;
}

.nav__link a:hover {
  color: #0088a9;
}

main {
  display: grid;
  place-items: center;
}



.btn-submit {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: #0088a9;
  color: white;
  cursor: pointer;
}

.btn-submit:hover {
  filter: brightness(0.7);
}

table {
  margin-top: 1.5rem;
}

.form-group * {
  vertical-align: top;
} */
